## OS FILES ##########################################################
.DS_Store

## DEPENDENCIES ######################################################
node_modules

## GENERATED #########################################################
plugin.d.ts
